 * {
    margin :0 ;
    padding: 0;
    }
    body{
   max-width: 1800px;
      margin:  0 auto; 
  
    display: grid; 
     grid-template-columns: 2fr 20fr 2fr ;
    
    }
    .container-mobile-app{
        width: 100%;
        padding-top: 10px;
        background: black;
        margin:  0 auto; 
        padding-bottom: 20px ;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .container1{
        padding-top: 10px;
        max-width: 100%;
        height: auto;
        background: black;
        position: relative;
    }
    .cont{
          float: left;
       
    }
    .cont2{
        float: left;
        position: absolute;
        left :700px; 
    }
    @media screen and (min-width :0px) and (max-width: 839px){
        .container1{
            display: none;
        }
      }
    @media screen and  (min-width :839px) and (max-width: 1800px){
        .container-mobile-app{
            display: none;
        }
      }
    .cont2-part2{
        
        display: grid;
        grid-template-columns: 1fr 1fr  ;
    }
    .circle{
      float: left;
      clip-path:circle(80% at left);
    
      width: 100%;
      height: auto;
   
    }
    .title{
    color:white;
    padding-top: 50px; 
    text-align: center;
    font-size: 100%; 
    font-weight: bold;
    padding-right: 100px;

    }

    .title-des{
    font-size:150%;
    padding-top: 50px;
    color:white;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    padding-right: 100px;

    }
    
    .container1-part2{
        display: grid;
        grid-template-columns: 2fr 2fr  ;
        padding: 10px;
        text-align: center;
    
        align-items: center;

     
    }
    .cont-image1{

    }
    .text2{
        color :#878A8C;
       font-size: 30px;
        font-family: 'Cairo', sans-serif;
        margin-right: 20px;
        
    }
    #logo{
        margin-top: 20px;
       
    
    }
 
    .cont-dev{
        width: 100%;
        background: white;
        border-radius: 50px;
        margin-top: 50px;
        padding: 10px 10px 10px 10px ;
        margin-left: 100px;
     


    }
    .text{
        font-size: 25px;
        text-align: center;
        font-family: 'Cairo', sans-serif;
    }
/* tablet */
@media screen and (max-width:839) {
    .title{
        font-size: 70%; 
    }
    .title-des{
    font-size: 100%;
    }
    
}

    .clear{
        clear: both;
    }
    .total{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .container2{
      justify-content: center;
    background: #fff;
   width: 100% ;
    height: auto;
    text-align: center;
    align-items: center;
    position: relative;
    
    }
    .line{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 160px;
        width: 70%;
    
    }
    .container2-title{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Cairo', sans-serif;
    padding-top: 10px;   
    padding-bottom: 20px;
    }
    
    .container2-image1{
    left :15%;
     width: 40%;
     height: auto;
    
    }
    .container2-image2{
        right :15%;
        width: 40%;
        height: auto;
    }
    .picture{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        position: relative;
    
    }

.container2-image1-text{
    position: absolute;
     font-size: 25px;
    color:black;
    left: 20%;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
      bottom: 1%;
}
  
.container2-image1-logo{
    position: absolute;
    width: 10%;
    height: auto;
    right: 20%;
    bottom: 10%;
}
.container2-1{
    padding-top: 5%;  
    width: 100%; 
  
    align-items: center;
    background: #fff; 
    display: grid ; 
    grid-template-columns: 2fr 2fr 4fr 2fr 2fr  ;
    }
   
   .true-false{
       width: 50px;
       height: auto;
       padding: 10px;
   }
   .container2-1-text{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 20px;
   }
   .container3{
	width: 100%; 
 	background: #fff; 
    display: grid ; 
    grid-template-columns: 2fr 2fr 4fr 2fr 2fr  ;
    align-items: center;
  
}
.containner4{
background: black;
display: grid ; 
grid-template-columns: 4fr 3fr ;
    align-items: center;
    padding: 20px;
}
.part4-1{
    background: white;
    border-radius: 40px;
    width: 60%;
   margin-left: 30px;
   text-align: center;
   padding: 10px;
   font-family: 'Cairo', sans-serif;
}
.part4-2{
    text-align: center;
    padding: 10px;
    font-family: 'Cairo', sans-serif;   
    color: white;
}




@media only screen and (max-width: 400px) {
        .picture{
        
             width: 100%;
            } 
         .container2-1-text{
                font-size: 16px;
            } 
     }


     .container4{
        display: grid ; 
        grid-template-columns: 1fr 1fr  ;
        background: black;
    
        padding-bottom: 10%;
     }
     .container4-part1{
         color: black;
         font-family: 'Cairo', sans-serif;
         
     }
     .container4-part2{
        color: white;
        font-family: 'Cairo', sans-serif;
        right:300%;
        margin-top: 20px;

     }

     .container5{
        background: #fff;
        padding-top: 60px;  
        max-width: 100% ;
        height: auto;
        margin: 0 auto;
        padding: 0%;
        text-align: center;
        position: relative;
        text-align: center;
       padding-bottom: 20px;
        }
       .container5-title{
        color: black;
        text-align: center;
        font-family: 'Cairo', sans-serif;
        padding-top: 30px;
        }
 
        .container5-1{
            display: grid ; 
            grid-template-columns: 1fr 1fr 1fr 1fr  ;
            padding-top: 30px;
        }
        .container5-1-1{
            background: black;
            color: white;
            padding: 15px 14px 15px 14px ;
            border-radius: 10px;
            text-align: center;
            font-family: 'Cairo', sans-serif;
        }
        .container5-1-2{
            background: black;
            padding: 15px 14px 15px 14px ;
            color: white;
           right:50px;
           font-family: 'Cairo', sans-serif;
            border-radius: 10px;
            margin-left: 10px;
           
        }
        .container5-text1{
            color: white;
            text-align: center;
        
            font-family: 'Cairo', sans-serif;
            padding: 30px 14px 14px 14px ;
            font-size: 30px;
        }
        .container5-text2{
            color: white;
            text-align: center;
            font-family: 'Cairo', sans-serif;
              padding: 20px 14px 20px 14px ;
              font-size: 30px;
        }
        .container5-2{
            text-align: center;
            background: black;
            border-radius: 10px;
            margin-top: 20px;
            width: 50%;
            margin-left: 25%;
            
        }
        .container5-text3{
            text-align: center;
            font-family: 'Cairo', sans-serif;
              padding: 20px 14px 20px 14px ;
              font-size: 28px;
              color: black;
        }
        .containner6{
            padding: 20px;
            background: black;
            align-items: center;  
            text-align: center;
            justify-content: center;
            padding-bottom: 50px;
        }
        .cont6-1{
            align-items: center;  
            text-align: center;
            justify-content: center;
        }
       .containner6-title{
           color: white;
           padding-top: 20px;
           text-align: center;
           font-size: 46px;
       }
       .containner6-part2{
        display: grid ; 
        grid-template-columns: 2fr 2fr 2fr  ;
    
        padding-top: 50px;
        align-items: center;
       }
       .doctor{
        width: 200px;
        height:  200px; 
        align-items: center;
        }
        .title-doctor-name{
            color: #fff; 
            text-align: center;
            font-size: 24px; 
            padding-top: 20px ; 
            font-weight: bold;
            padding-bottom: 20px ; 
          }
          .doctor-des{
            color: #fff; 
            text-align: center;
            font-size: 16px; 
            font-weight: bold;
          }
        .part6-2-info {
            font-size: 100%;
        }
        
        
          @media screen and (max-width: 839px) {
            .containner6-part2 {
                grid-template-columns: 2fr ;
            }

          }
          @media screen and (max-width: 839px) {
            .container5-text2 {
                font-size: 15px;
            }
            .container5-text1{
                font-size: 15px; 
            }
            .container5-text3{
                font-size: 15px; 
            }
            .container5-title{
                font-size: 15px; 
            }
            .containner6-title{
                font-size: 30px; 
            }
            .part6-2-info {
                font-size: 12px; 
            }
            .container2-image1-text{
                font-size: 8px;  
                text-align: center; 
            }
            .container2-title{
                font-size: 15px;
            }
            .container5-1-1{
                padding: 10px 7px 10px 7px ;
            }
            .container5-1-2{
                padding: 10px 7px 10px 7px ;
            }
            .circle{
                width: 50%;
            }
            body{
                max-width: 1400px;
                   margin:  0 auto; 
                 display: grid; 
                  grid-template-columns: 1fr 20fr fr ;
                 
                 }
                 .true-false{
                    width: 30px;
                    height: auto;
                 }
                 .line{
                    margin-left: 50px;
                 }
                 .container2-1-text{
                    font-size: 15px;
                } 
          }


          .containner7{
            display: grid ; 
            grid-template-columns: 2fr 2fr  ;
            background: white;
          }
         
          .title-part7{
            text-align: center;
            font-size: 40px; 
            padding: 10px 0px 30px ; 
            font-weight: bold;
          }
          .des{
            text-align: center;
           font-size: 25px; 
           padding: 5px 0px 10px ; 
           font-weight: bold;
         }

         @media screen and (max-width: 839px) {
            .containner7{
                grid-template-columns: 4fr   ;
              
                margin: 0 auto;
            }
            .des{
               font-size: 20px; 
             } 
         }

         .containner8{
             background: black;
             padding: 40px 40px 40px 40px;
            display: grid ; 
            grid-template-columns: 2fr 2fr  ;
            row-gap: 1em ;
            position: relative;
            text-align: center;
             align-items: center;
            
         
         }
        
         .part8-1{
             background: white;
      
             height: 30%;
             text-align: center;
             align-items: center;
        font-size: 10px;
      padding: 10px 10px 0 10px;
        margin-top: 10px;
        left: 20%;
        font-family: 'Cairo', sans-serif;
       border-radius: 50px;
       position:absolute;
         }
         .part8-2{
         height: auto;
         left:60%;
        font-size: 20px;
          padding: 30px;
          position:absolute;
          font-family: 'Cairo', sans-serif;
  
         }
         .part6-2-info{
             color: white;
           
         }
         @media screen and (max-width: 839px) {
        
         }
        
         @media screen and (max-width: 600px) {
           .container1{
               display: none;
           }
         }
        



/* //////////////////////////mobile app header /////////////////////// */

.head{
    color: white;
    padding-top: 10px;
}
.imag-head{
    width: 100%;
}
.text-mobile-app{
    color: white;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.text2-mobile-app{
    color: gray;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.cont-div-mobile{
    display: grid ; 
    text-align: center;
   justify-content: center;
   align-items: center;
    grid-template-columns: 2fr 2fr  ;

}
.logo-mobile{
    width: 60%;
    height: auto;
   margin-bottom: 2px;
    margin-left: 80px;
}
.div-mobile-info{
    background: white;
    width: 70%;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
    font-family: 'Cairo', sans-serif;
    margin-left: 40px;

}

@media screen and (min-width: 839px) {

.part4-1{
    width: 50%;
    margin-left: 250px;
}}


/* <!-- model form styling   --> */
.modal-outside{
    position: fixed;
    top:0 ; 
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5) ;
/* now we will position it to center  */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

}
.active{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    background: white;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button2{
    margin-top: 10px;
    padding: 10px;
    background: #00C6B0;
    color: white;
    cursor: pointer;

}

input {
 
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .outer-selector{
  
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
.modal-close{
    position: absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

}
.form{
    justify-content: center;
    text-align: center;
}
.select-box{




align-items: center;
justify-content: center;


}
.select-box select{
padding: 10px;
}
.added-option{
    display: none;
}












