*  {
margin :0 ;
padding: 0;
}
body{
		width: 100%; 
}
 .container1{
 	width: 100%; 
 	background: #050706; 
 	/*padding: 30px*/

 }

 .head {
 	font-style: lighten;
 	text-align: center;
 	color: white; 
 	padding: 10px 
 }

 .imag-head{
 	width: 100%;
 }
 .text{
 	color: white; 
 	text-align: center;
 	font-size: 38px;
 	 padding: 20px;
 }
 .text2{
 	color: #878A8C; 
 	text-align: center;
 	font-size: 38px;
 }
 .cont-div{
  width: 100%;
  height: 200px;
  margin: auto;
  padding: 20px;
 }
 .div1{
  width: 50%;
  height: 200px;
  text-align: right;
  float: left;
  margin-right: 5%;
 }

.div2{
 margin-right:375%;
  height: 150px;
  background: black;
}

.logo-text{
	width: 100% ; 
}

/*rounded white div */

.div-info{
  background: #fff;
  padding: 20px 37px 37px 37px;
   border-radius: 80px;

   
}
.div-info-text{
  width: 100%;
  color: black;
/*  text-align: center;*/
  font-size :40px;
}

@media screen and (min-width: 601px) {
 .div-info-text {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
.div-info-text {
    font-size: 30px;
  }
}

.cont1{
 margin-top: 100px ; 
 background: #fff; 
}
#data{
	 margin-top: 20px ; 
	text-align: center;
	font-size: 22px; 
}
.cont2{
     display: grid ; 
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr ;
    background: #fff; 
}

.container2{
 	width: 100%; 
 	background: #fff; 
    display: grid ; 
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr ;

 }
.true-false{
	width: 30px;
	height: 30px;
}

.container3{
	width: 100%; 
 	background: #fff; 
    display: grid ; 
    grid-template-columns: 2fr 2fr 1fr 4fr 1fr 2fr 2fr ;
}
.container4{
    background: black;
    display: grid ; 
    grid-template-columns: 2fr 2fr  ;
    width: 100%; 
    padding: 5px 5px 5px 5px ; 

}
.info{
	color :white;
	font-size: 28px ; 
  font-weight: bold;
	 
}
.info2{
  background: white ; 
	color :black;
	font-size: 20px ; 
 border-radius: 50px;
margin-top: 10px; 
margin-bottom: 10px;
margin-left:20px;
}

.info1{
  margin-left:70px; 
}
.info4{
  margin-left: 30px; 
  font-size: 23px ;
  font-weight: bold;
  padding-top: 5px; 
}

.part3-containner{
  background: #fff; 
  text-align: center;

}
.title{
  color: black; 
  text-align: center;
  font-size: 27px; 
  padding: 10px 0px 10px ; 
    font-weight: bold;
}
.inner-part3{
  display: grid ; 
  grid-template-columns: 2fr 2fr  ;
}
#div1{
  background: black ; 
  color:  white ; 
  border-radius: 20px;
  text-align: center;
  margin-left: 25px;
  width: 50%; 
  padding: 20px 10px 10px 10px; 
    font-size: 20px; 

}
#div2{
  margin-left: 90px; 
  background: black ; 
  color:  white ; 
  border-radius: 20px;
  text-align: center;
  width: 50%; 
  padding: 20px 10px 10px 10px; 
    font-size: 20px; 
}
.inner-inner{
  background: black ; 
  color:  white ; 
  border-radius: 20px;
  padding: 20px 20px 10px 20px; 
 
  text-align: center;
  margin-top: 10px; 
   margin-right: 
    font-size: 20px; 
    width: 100%;
  max-width: 200px;
  margin-left: 90px ; 
 
}
.title2{
  color: black; 
  text-align: center;
  font-size: 16px; 
  padding: 10px 10px 20px 10px ; 
    font-weight: bold;
}
.part4-containner{
   background: black ; 
   width: 100%; 
}
.title-part4{
  color:  white ;
  text-align: center;
 font-size: 29px; 
 padding-top: 10px;
 padding-bottom: 10px; 
}
.doctor{
width: 100%;
max-width: 100px;
height: 50%; 
text-align: center;
 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px; 
}
.title-doctor-name{
  color: #fff; 
  text-align: center;
  font-size: 24px; 
  padding: 10px 0px 10px ; 
  font-weight: bold;
}
.doctor-des{
  color: #fff; 
  text-align: center;
  font-size: 16px; 
  font-weight: bold;
}
.doctor-des-final{
   color: #fff; 
  text-align: center;
  font-size: 16px; 
  font-weight: bold;
padding-bottom: 20px; 
}

.part5-containner{
background: #fff; 
}
.title-part5{
  text-align: center;
  font-size: 24px; 
  padding: 10px 0px 10px ; 
  font-weight: bold;
}

