*  {
margin :0 ;
padding: 0;
}
body{
width: 100%; 
background: black ; 

}
.cont{
	  float: left;
}
.circle{
  float: left;
  clip-path:circle(700px at left);
  clip: rect(0px,70px,50px,0px);
}
.title{
color:white;
padding-top: 50px; 
text-align: center;
font-size: 20px; 
  font-weight: bold;
}